name: CLA Assistant

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write
  statuses: write
jobs:
  cla:
    runs-on: ubuntu-latest
    steps:
      - name: CLA Assistant GitHub Action
        uses: cla-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-cla-document: 'CLA.md'
          remote-organization-name: 'ax-platform'
          remote-repository-name: 'ax-agent-studio'
          branch: 'main'
          allowlist: madtank,heathdorn00,mschecht88
